/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black; 
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #0909ed;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.img-responsive {
  width: 25px;
  height: 25px;
}

.main{
  margin: 10%;
  margin-left: 10%;
  margin-right: 15%;
}


.bk-list {
  list-style: none;
  position: relative;
}

.bk-list li {
  position: relative;
  width: 300px;
  float: left;
  z-index: 1;
  margin: 0px 50px 40px 0;
  -webkit-perspective: 1800px;
  -moz-perspective: 1800px;
  perspective: 1800px;
}

.bk-list li:last-child {
  margin-right: 0;
}

.bk-info {
  position: relative;
  margin-top: 440px;
}

.bk-info h3 {
  padding: 25px 0 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 26px;
}

.bk-info h3 span:first-child {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: block;
  color: #777;
}

.bk-info p {
  line-height: 24px;
  color: #444;
  min-height: 160px;
}

.bk-info button {
  background: #181DF4;
  border: none;
  color: #fff;
  display: inline-block;
  padding: 3px 15px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.bk-info button.bk-active,
.bk-info button:active {
  box-shadow: 
    0 1px 0 rgba(255, 255, 255, 0.8), 
    inset 0 -1px 1px rgba(0,0,0,0.2);
}

.no-touch .bk-info button:hover,
.bk-info button.bk-active {
  background: #4A41FF;
}

.bk-list li .bk-book {
  position: absolute;
  width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}

.bk-list li .bk-book.bk-bookdefault:hover {
  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.bk-list li .bk-book > div,
.bk-list li .bk-front > div {
  display: block;
  position: absolute;
}

.bk-list li .bk-front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.bk-list li .bk-front > div {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bk-list li .bk-page {
  -webkit-transform: translate3d(0,0,19px);
  -moz-transform: translate3d(0,0,19px);
  transform: translate3d(0,0,19px);
  display: none;
  width: 295px;
  height: 390px;
  top: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 9;
}

.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front > div {
  width: 300px;
  height: 400px;
}

.bk-list li .bk-left,
.bk-list li .bk-right {
  width: 40px;
  left: -20px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
  width: 295px;
  height: 40px;
  top: -15px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bk-list li .bk-back {
  -webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
  -moz-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
  transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
  box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
  border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
  background-color: #000;
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -moz-transform: rotate3d(0,1,0,-180deg);
  transform: rotate3d(0,1,0,-180deg);
}

.bk-list li .bk-right {
  height: 390px;
  top: 5px;
  -webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
  -moz-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
  transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bk-list li .bk-left {
  height: 400px;
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

.bk-list li .bk-top {
  -webkit-transform: rotate3d(1,0,0,90deg);
  -moz-transform: rotate3d(1,0,0,90deg);
  transform: rotate3d(1,0,0,90deg);
}

.bk-list li .bk-bottom {
  -webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
  -moz-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
  transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
}

/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
  -webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
  -moz-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
  transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
}

.bk-list li .bk-book.bk-viewinside {
  -webkit-transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
  -moz-transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
  transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
}

.bk-list li .bk-book.bk-viewback {
  -webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
  -moz-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
  transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}

.bk-list li .bk-viewback .bk-back {
  z-index: 10;
}

/* Main colors and content */

.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
  background-color: #fff;
}

.bk-list li .bk-front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: 
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-list li .bk-front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.bk-list li .bk-cover:after,
.bk-list li .bk-back:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-list li .bk-back:after {
  left: auto;
  right: 10px;
}

.bk-left h2 {
  width: 400px;
  height: 40px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.bk-content {
  position: absolute;
  top: 10px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  padding: 30px;
  overflow: hidden;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: default;
}

.bk-content-current {
  opacity: 1;
  pointer-events: auto;
}

.bk-content p {
  padding: 0 0 10px;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bk-page nav {
  display: block;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.bk-page nav span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #aaa;
  background: #f0f0f0;
  border-radius: 50%;
}

/* Individual style & artwork */

/* Book 1 */
.book-1 .bk-front > div,
.book-1 .bk-back,
.book-1 .bk-left,
.book-1 .bk-front:after {
  background-color: #FB5C5C;
}

.book-1 .bk-cover {
  background-image: url(../images/1.png); 
  background-repeat: no-repeat;
  background-position: 2px 10px;
}

.book-1 .bk-cover h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  background: rgba(255,255,255,0.2);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.book-1 .bk-cover h2 span:first-child,
.book-1 .bk-left h2 span:first-child {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.book-1 .bk-cover h2 span:first-child {
  display: block;
}

.book-1 .bk-cover h2 span:last-child,
.book-1 .bk-left h2 span:last-child {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
} 

.book-1 .bk-content p {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.book-1 .bk-left h2 {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: center;
}

.book-1 .bk-back p {
  color: #fff;
  font-size: 13px;
  padding: 20px;
  text-align: center;
  font-weight: 700;
}

/* Book 2 */

.book-2 .bk-front > div,
.book-2 .bk-back,
.book-2 .bk-left,
.book-2 .bk-front:after {
  background-color: #9ED9FB;
}

.book-2 .bk-cover {
  background-image: url(../images/2.png); 
  background-repeat: no-repeat;
  background-position: 48% 0%;
  background-size: 300px;
}

.book-2 .bk-cover h2, 
.book-2 .bk-left h2 {
  color: #fff;
  font-family: 'the_godfatherregular', Georgia, serif;
  font-weight: 150;
}

.book-2 .bk-cover h2 {
  font-size: 68px;
  line-height: 52px;
  padding: 20px;
}

.book-2 .bk-cover h2 span:first-child {
  position: relative;
  display: block;
}

.book-2 .bk-cover h2 span:first-child:before {
  content: 'la socializacion';
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  text-transform: uppercase;
  position: absolute;
  color: blue;
  font-size: 20px;
  right: -10px;
  bottom: -80px;
}

.book-2 .bk-cover h2 span:last-child {
  font-size: 22px;
  line-height: 200px;
  display: block;
  position: relative;
}

.book-2 .bk-cover h2 span:last-child:before {
  content: 'hacia';
  font-size: 20px;
  color: blue;
  position: absolute;
  top: -62px;
  left: 62px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}


.book-2 .bk-left h2 {
  font-size: 20px;
  line-height: 40px;
  padding-right: 30px;
  text-align: center;
}

.book-2 .bk-back p {
  color: blue;
  font-size: 13px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  padding: 40px;
  text-align: center;
}

/* Book 3 */

.book-3 .bk-front > div,
.book-3 .bk-back,
.book-3 .bk-left,
.book-3 .bk-front:after {
  background-color: #C0BB29;
}

.book-3 .bk-cover {
  background-image: url(../images/3.png); 
  background-repeat: no-repeat;
  background-position: 100% 95%;
}

.book-3 .bk-cover h2 {
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
  padding-top: 15px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.book-3 .bk-cover h2 span:first-child,
.book-3 .bk-left h2 span:first-child {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.book-3 .bk-cover h2 span:first-child {
  display: block;
}

.book-3 .bk-cover h2 span:last-child,
.book-3 .bk-left h2 span:last-child,
.book-3 .bk-content p  {
  font-family: Georgia, Times, "Times New Roman", serif;
} 

.book-3 .bk-left h2 {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

.book-3 .bk-back img {
  width: 200px;
  display: block;
  margin: 30px auto 0;
}

.book-3 .bk-back p {
  color:#fff;
  font-size: 13px;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 20px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

/* Fallbacks */

.no-csstransforms3d .bk-list li .bk-book > div,
.no-csstransforms3d .bk-list li .bk-book .bk-cover-back {
  display: none;
}

.no-csstransforms3d .bk-list li .bk-book > div.bk-front {
  display: block;
}

.no-csstransforms3d .bk-info button,
.no-js .bk-info button {
  display: none;
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}